PORT=8000
CORS_ORIGIN=*
MONGODB_URI=mongodb+srv://anirudhpundir007:P3BAi9cZCqdxXMfS@cluster0.wcfggdv.mongodb.net/
ACCESS_TOKEN_SECREt=chai-aur-code
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=chai-aur-backend
REFRESH_TOKEN_EXPIRY=10d
CLOUDINARY_CLOUD_NAME=dy1zc5rjj
CLOUDINARY_API_KEY=342163982526536
CLOUDINARY_API_SECRET=GUh0_xX7c3D9sRT5R_ghJtR_kkI